.ico_search, .ico_search@2x, .ico_sunny, .ico-checkbox-active, .ico-checkbox-deactive, .ico-radio-active, .ico-radio-deactive, .ico-switch-active, .ico-switch-deactive{
	background: url(sprites.png) no-repeat;
}

.ico_search{
	background-position: -102px -27px ;
	width: 15px;
	height: 15px;
}

.ico_search@2x{
	background-position: -125px -1px ;
	width: 30px;
	height: 30px;
}

.ico_sunny{
	background-position: -101px -1px ;
	width: 21px;
	height: 21px;
}

.ico-checkbox-active{
	background-position: -51px -28px ;
	width: 20px;
	height: 20px;
}

.ico-checkbox-deactive{
	background-position: -78px -28px ;
	width: 20px;
	height: 20px;
}

.ico-radio-active{
	background-position: -1px -29px ;
	width: 20px;
	height: 20px;
}

.ico-radio-deactive{
	background-position: -28px -29px ;
	width: 20px;
	height: 20px;
}

.ico-switch-active{
	background-position: -51px 0;
	width: 45px;
	height: 25px;
}

.ico-switch-deactive{
	background-position: 0 0;
	width: 45px;
	height: 25px;
}

