@charset "utf-8";

/*
page-width: 1180px 
column-width: 60px
column-count: 15
gutter-direction: after(margin-right) need .last, .omega
[ after | split | ]
gutter-width: 20px
*/

.container {
 width: 1180px;
 margin-left: auto;
 margin-right: auto;
}
.row {
 margin-bottom: 24px;
}
.row::after, .clearfix {
 content: '';
 display: block;
 clear: both;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-13,.col-14,.col-15,{
 position: relative;
}
.col-1 { width: 60px; }
.col-2 { width: 140px; }
.col-3 { width: 220px; }
.col-4 { width: 300px; }
.col-5 { width: 380px; }
.col-6 { width: 460px; }
.col-7 { width: 540px; }
.col-8 { width: 620px; }
.col-9 { width: 700px; }
.col-10 { width: 780px; }
.col-11 { width: 860px; }
.col-12 { width: 1020px; }
.col-13 { width: 1200px; }
.col-14 { width: 1280px; }
.col-15 { width: 1360px; }

.push-1 { margin-left: 90px; }
.push-2 { margin-left: 170px; }
.push-3 { margin-left: 250px; }
.push-4 { margin-left: 330px; }
.push-5 { margin-left: 410px; }
.push-6 { margin-left: 490px; }
.push-7 { margin-left: 570px; }
.push-8 { margin-left: 650px; }
.push-9 { margin-left: 730px; }
.push-10 { margin-left: 810px; }
.push-11 { margin-left: 890px; }
.push-12 { margin-left: 970px; }
.push-13 { margin-left: 1050px; }
.push-14 { margin-left: 1130px; }
.push-15 { margin-left: 1210px; }

/* pre, post module */
.pre-1,.pre-2,.pre-3,.pre-4,.pre-5,.pre-6,.pre-7,.pre-8,.pre-9,.pre-10,.pre-11,.pre-12,.pre-13,.pre-14,.pre-15, 
.post-1,.post-2,.post-3,.post-4,.post-5,.post-6,.post-7,.post-8,.post-9,.post-10,.post-11,.post-12,.post-13,.post-14,.post-15 {
  position: relative;
}
.pre-1 { left: 80px; }
.pre-2 { left: 160px; }
.pre-3 { left: 240px; }
.pre-4 { left: 320px; }
.pre-5 { left: 400px; }
.pre-6 { left: 480px; }
.pre-7 { left: 560px; }
.pre-8 { left: 640px; }
.pre-9 { left: 720px; }
.pre-10 { left: 800px; }
.pre-11 { left: 880px; }
.pre-12 { left: 960px; }
.pre-13 { left: 1040px; }
.pre-14 { left: 1120px; }
.pre-15 { left: 1200px; }

.post-1 { right: 80px; }
.post-2 { right: 160px; }
.post-3 { right: 240px; }
.post-4 { right: 320px; }
.post-5 { right: 400px; }
.post-6 { right: 480px; }
.post-7 { right: 560px; }
.post-8 { right: 640px; }
.post-9 { right: 720px; }
.post-10 { right: 800px; }
.post-11 { right: 880px; }
.post-12 { right: 960px; }
.post-13 { right: 1040px; }
.post-12 { right: 1120px; }
.post-12 { right: 1200px; }