@charset "UTF-8";
/*! style.css @ baetrice51, 2017 */
html {
    font-size: 10px;
}
body {
    min-height: 100vh;
    margin: 0;
    background-image: url("../images/leading-21px.png");
    font: 1.4rem/1.5 "Spoqa Han Sans";
    letter-spacing: -0.02rem;
    color: #333741;
}
.container {
    width: 820px;
    margin-top: 8.4rem;
    margin-left: auto;
    margin-right: auto;
}
img {
    vertical-align: top;
}
p {
    margin-top: 0;
    margin-bottom: 2.1rem;
}
/* 제목 | 단락 공통 디자인 */
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 2.1rem;
}
h1,h2,h3,h4 {
    font-weight: 300;
}
h5,h6 {
    font-weight: normal;
    line-height: 2.1rem;
}
/* 제목 개별 디자인 */
h1 {
    font-size: 5.463rem;
    font-weight: 100;
    line-height: 6.3rem;
}
/*h2 {}*/
h3 {
    font-size: 3.169rem;
    line-height: 4.2rem;
}
/*h4 {}*/
h5 {
    font-size: 1.838rem;
    color: #787f94;
}
h6 {
    font-size: 1.563rem;
}
/* 목록 공통 디자인 */
ul, ol {
/* 웹 브라우저 기본 스타일 (User Agent Style) 제거*/
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
/* 목록 개별 디자인 */
ul {}
ol {}

/* 목록 항목(아이템) 디자인 */
li {
    margin-bottom: 4.2rem;
}
dt {
    font-weight: 700;
}
dd {
    margin-left: 0;
}
/* 하이퍼링크 디자인 */
a[href] {
    color: #a744f4;
    text-decoration: none;
}
a[href]:hover {
    color: #573ce1;
    text-decoration: underline;
}
img {
    vertical-align: bottom;
}
/* 페이지 컨테이너 */
.container {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}
header {
    margin-top: 8.4rem;
    text-align: center;
}
main {
    margin-top: 4.2rem;
}
footer {
    margin-bottom: 6.3rem;
}
footer h5 {
    text-align: right;
}