/*! grid-system.css © beatrice51.github.io, 2017 */
.grid-toggle-btn {
 cursor: pointer;
 position: fixed;
 z-index: 10000;
 top: 10px;
 right: 10px;
 border: none;
 padding: 1em 2em;
 background: #000;
 color: #fff;
 border-radius: 4px;
 transition: all 0.4s;
}
.grid-toggle-btn:hover,
.grid-toggle-btn:focus {
 background: #fe4940;
}

.show-grid {
 position: relative;
}

.show-grid::before {
 content: '';
 position: absolute;
 z-index: 10000;
 top: 0;
 left: 0;
 right: 0;
 height: 470vh;
 background: linear-gradient(transparent 23px, hsla(23, 40%, 73%, 0.78) 23px);
 background-size: 1px 24px;
}

/*.show-grid .container {
 position: relative;
}
.show-grid .container::before {
 content: '';
 position: absolute;
 z-index: 10000;
 top: 0;
 left: 0;
 right: 0;
 height: 780vh;
 background: linear-gradient(90deg, transparent 1rem, hsla(32, 90%, 92%, 0.55) 1rem, hsla(32, 90%, 92%, 0.55) 100%, transparent 100%);
 background-size: 8.3333% 1px;
}*/